/* You can add global styles to this file, and also import other style files */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #e8e8e8;
}

h3 {
    color: #1a1036;
    font-size: 30px;
    font-weight: 100;
    font-family: sans-serif;
}

.btn-primary {
    background: #bca8f2;
    border: none;
    border-radius: 2px;
    padding: 10px 30px;
    color: #4100f5;
    cursor: pointer;
    margin: 0 10px;

    &:hover {
        background: #311b6e;
        color: #fff;
    }

    &.selected {
        border: 1px solid;
        background: #7a4aff;
        color: #fbf9ff;
        font-weight: bold;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 #ffffff;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #472c94;
    border-radius: 10px;
}